/* Estilos generales del nav */
nav {
    background-color: rgba(68, 255, 239, 0.5);
    padding: 15px 0; /* Espaciado interno */
    margin-top:20px;
    border-left: black;
    border: dotted black;
    display: block;
    animation: aparecer 1s ease-in-out forwards;
}

 

/* Estilos de la lista ul */
nav ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    margin: 0;
    padding: 0;
    text-align: center; /* Centra los elementos de la lista */
    animation: aparecer 1s ease-in-out forwards;
}

/* Estilos de los elementos li */
nav ul li {
    display: inline-block; /* Muestra los elementos en línea */
    margin-right: 30px; /* Espacio entre elementos */ 
    padding-left: 20px ;
    animation: aparecer 1s ease-in-out forwards;
}



/* Estilos de los enlaces a */
nav ul li a {
    color: #ffffff; /* Color de texto */
    text-decoration: none; /* Sin subrayado */
    padding: 10px 15px; /* Espaciado interno */
    transition: background-color 0.3s; /* Transición suave */
}

@keyframes cambioColor {
    0% { color: red; } /* Color inicial */
    25% { color: blue; } /* Cambio a azul en 0.2 segundos */
    50% { color: green; } /* Cambio a verde en 0.4 segundos */
    75% { color: yellow; } /* Cambio a amarillo en 0.6 segundos */
    100% { color: red; } /* Volver al color inicial en 0.8 segundos */
}

nav ul li a {
    background-color: rgb(0, 0, 0); /* Color inicial */
    transition: color 0.4s; /* Transición suave de color */
    border: rgb(255, 255, 255) ;
    animation: aparecer 1s ease-in-out forwards;
}

nav ul li a:hover {
    animation: cambioColor 0.8s infinite; /* Aplicar la animación con duración de 0.8 segundos y repetición infinita */
}

.fond{
    background-size: cover;  
    display: block;  
} 
 


.kei{ 
    width: 30px;
    text-align: center;
    position: center;
}

.keiry { 
    width: 50%;
    height: 100px;
    margin-right: 30px;
    padding-left: 28%;
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(20px); /* Desplazado hacia abajo */
    animation: aparecer 1s ease-in-out forwards; /* Animación para aparecer */
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
 

.contenedor {
    display: inline-block;
    vertical-align: top; 
    margin-bottom: 20px; 
   
}

.logo { 
    width: calc(100% - 90px);
    overflow: hidden; /* Oculta el desbordamiento de la imagen */
    width: 100%; /* Ancho de la imagen */ 
    height: auto; /* Altura ajustada automáticamente */
    transition: filter 0.1s; /* Transición suave de filtro */
}

.contenedor:hover .logo {
    filter: grayscale(100%); /* Aplicar escala de grises al pasar el mouse */
}


.pdf {
    width: 80px; /* Ancho de la imagen */
    height: auto; /* Altura ajustada automáticamente */
    margin-right: 10px; /* Espacio a la derecha de la imagen */
    animation: aparecer 1s ease-in-out forwards; 
}

.midi{
    text-align: center; 
}

.textt{
    background-color: rgba(68, 255, 239, 0.3);
    align-items: center; 
    padding-left:  50px;
}

.logo{
    width: 20%;
    height: auto;  
    margin-right: 30px;
    padding-left: 3%;
    
    transform: scale(0); /* Escala inicial de cero */
    animation: construir 1s forwards; /* Animación para construir */
}
 
@keyframes construir {
    0% {
        transform: scale(0); /* Escala inicial de cero */
    }
    100% {
        transform: scale(1); /* Escala final de uno */
    }
}


.contenedor-imagenes { 
    justify-content: center;
    align-items: center;
    height: 50vh; /* Ajustar al tamaño de la ventana */
    background-color: rgba(68, 255, 239, 0.3);
}

.contenedor-imagenes img {
    width: 600px; /* Ancho inicial de las imágenes */
    height: 500px; /* Altura ajustada automáticamente */
    margin: 10px; /* Espacio entre las imágenes */
    opacity: 0; /* Inicialmente ocultas */
    animation: aparecer 1s ease-in-out forwards; /* Animación para aparecer */
}

@keyframes aparecer {
    0% {
        opacity: 0; /* Inicialmente ocultas */
        transform: translateY(20px); /* Desplazamiento hacia abajo */
    }
    100% {
        opacity: 1; /* Totalmente visibles */
        transform: translateY(0); /* Sin desplazamiento */
    }
}


.des{ 
    display: flex;
    justify-content: center;
    align-items: center; 
    border-left: 100px;
    border-right: 100px;
    height: 50vh; /* Ajustar al tamaño de la ventana */
     animation: aparecer 1s ease-in-out forwards;
}

.fond1{ 
background-size: cover;
}

.keiry1{
    width: 50%;
    height: 100px;
    margin-right: 30px;
    padding-left: 28%;
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(20px); /* Desplazado hacia abajo */
    animation: aparecer 1s ease-in-out forwards; /* Animación para aparecer */
    filter: sepia(100%);
}

.btini{
    background-color: rgb(16, 247, 255);
    border-radius: 50px;
    text-decoration: double;
    color: black;
    border-color: black;
    border-style: double;
}

.btdes{
    background-color: rgb(212, 30, 203);
    border-radius: 50px;
    border-color: black;
    border-style: double;
}

.btmanu{
    background-color: rgb(255, 151, 16);
    border-radius: 50px;
    border-color: black;
    border-style: double;
}


.manu{
    width: 100%;
    filter: sepia(100%);

}


.nav1 {
    background-color: rgba(68, 255, 239, 0.5);
    padding: 15px 0; /* Espaciado interno */
    margin-top:20px;
    border-left: black;
    border: dotted black;
    display: block;
    filter: sepia(100%);
    animation: aparecer 2s ease-in-out forwards;
}



.container12 {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    font-size: 1rem;
    background-color: rgba(253, 251, 248, 0.5);
    border-radius: 50px;
    border-color: black;
    border-style: double;
    border-radius: 50%;
    transition: all 0.2s ease;
  }
  
  .button:hover {
    background-color: #11d611;
  }
  
  .button:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .image-holder {
    width: 1200px;
    height: 500px;
    padding: 50px;
    background: none;
    border-style: hidden;
    border: 2px solid #ffffff;
    display: flex; 
    align-items: center;
    justify-content: center;
    display: block;
  } 